
.container{
    background-image: url("components/bag.jpeg");
    width: 100%;
    
    background-position: relative;
    align-items: center;
    text-align: center;
    padding-right: 60%;
    padding-left: 40%;
    }

.step1{
    width: 450px;
    height: 500px;
    text-align: center;
    padding-top: 50px;
    border-radius: 50px 10px ;
    background-color: aliceblue;
    
    border:black 5px solid;
    
    }
    
    #firstName,#lastName,#phoneNumber,#email,#age{
        height: 40px;
        width: 300px;
        border-radius: 10px 5px;

    }
    /* ############################################################################# */

    .step2{
        width: 450px;
        height: 420px;
        background-color: aliceblue;
        text-align: center;
        padding-top: 60px;
        border-radius: 50px 10px ;
        border:black 5px solid;
        line-height: 20px;
        }
        
        .details{
            line-height: 40px;
            font-size: 20px;
        }

        /* ########################################################################################################### */

        .step3{
            width: 450px;
            height: 470px;
            background-color: aliceblue;
            text-align: center;
            padding-top: 60px;
            border-radius: 50px 10px ;
            border-color: violet;
            line-height: 20px;
            border:black 5px solid;

            }
            .step3 input[type="text"]{
                width: 300px;
                height: 70px;
                border-radius: 20px 5px;
            }